{% extends "_layout_proveedores.html" %}
{% load static %}
{% block Title %}
    {{solicitud.identificador}}
{% endblock Title %}


{% block content %}

<div class="row m-0  ps-lg-0 p-md-0 p-sm-0 p-xs-0 d-flex justify-content-center  ">
    <div class="justify-content-between d-flex  ">
        <h2 class="p-3 ps-md-5">{{solicitud.TSolicitud|lower}}</h2>
    </div>
    <div class="col-md-11 col-sm-12 col-xs-12  bg-white rounded mb-3">
        <div class="row color-row">            
            <div class="card m-0 mb-3 p-0 border shadow col-md-12 h-75 col-lg-12 col-sm-12 col-xs-12" >
                <div class="card-header">
                    <h5 class="card-title text-center text-uppercase text-secondary">Información Solicitud</h5>
                </div>
                <div class="card-body">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12 col-md-6 mb-3">
                                <p class="card-text"><b>Numero de solicitud:</b> {{solicitud.identificador}}</p>
                                <p class="card-text"><b>Fecha de creación:</b> {{solicitud.fecha_creacion}}</p>
                                <p class="card-text"><b>Fecha de finalización:</b> {{solicitud.fecha_fin}}</p>
                                <p class="card-text"><b>Estado:</b> {{solicitud.estado}}</p>
                                {%for c in caracteristicas%}
                                    <p class="card-text"><i class="fa-solid fa-circle fa-2xs pe-2"></i>{{c.caracteristica}}</p>
                                {%endfor%}
                            </div>
                            <div class="col-lg-6 col-sm-12 col-md-6 mb-3">
                                <p class="card-text"><b>Descripción:</b> {{solicitud.descripcion|lower}}</p>
                                <p class="card-text"><b>Observaciones:</b> {{solicitud.observaciones}}</p>
                            </div>
                            <div class="col-12 d-flex justify-content-center">
                                {% if solicitud.estado == 'Nueva' %}
                                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    Presentar propuesta
                                </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border shadow mt-2 col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="card-body">
                    <div class="col-12">
                        <h5 class="card-title text-center text-uppercase text-secondary">Comentarios</h5>
                        <div class="mb-3">
                            <form method="post" action="{%url 'proveedor:agregar_comentario' id=solicitud.id %}">
                                {% csrf_token %}
                                {{ form_comentario.as_p }}
                                
                                <div class="d-flex justify-content-end mt-2">
                                    <button type="submit"  class="btn btn-success">Enviar</button>
                                </div>
                            </form>
                            
                        </div>
                        <div class="list-group">
                            {% for comentario in solicitud.comentarios_set.all %}
                            <div class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <img src="{%static 'img/perfil.png'%}" alt="{{ comentario.usuario.username }}" class="user-photo">
                                        <h5 class="mb-1 ml-3">{{ comentario.usuario.username }}</h5>
                                    </div>
                                    <small>{{ comentario.fecha }}</small>
                                </div>
                                <p class="mb-1">{{ comentario.comentario }}</p>
                                <a href="#" class="btn btn-link" onclick="document.getElementById('respuesta-form-{{ comentario.id }}').style.display='block'">Responder</a>
                                <div id="respuesta-form-{{ comentario.id }}" style="display:none;">
                                    <form method="post" action="{% url 'proveedor:agregar_comentario' id=solicitud.id parent_id=comentario.id  %}">
                                        {% csrf_token %}
                                        {{ form_comentario.as_p }}                              
                                        <div class="d-flex justify-content-end mt-2">
                                            <button type="submit"  class="btn btn-success">Enviar</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="list-group mt-3 ml-4">
                                {% for reply in comentario.replies.all %}
                                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="d-flex w-100 justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img src="{%static 'img/perfil.png'%}" alt="{{ reply.usuario.username }}" class="user-photo">
                                                <h5 class="mb-1 ml-3">{{ reply.usuario.username }}</h5>
                                            </div>
                                            <small>{{ reply.fecha }}</small>
                                        </div>
                                        <p class="mb-1">{{ reply.comentario }}</p>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sección de Comentarios -->
</div>

{% endblock content %}

{% block modal %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-fullscreen-sm-down modal-dialog-scrollable">
        <form class="modal-content" method="post" enctype="multipart/form-data" action="{%url 'proveedor:solicitud_id' id=solicitud.id%}">
            {% csrf_token %}
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Presentar propuesta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="{{form.descripcion.id_for_label}}" class="form-label">Descripción de la propuesta*:</label>
                    {{form.descripcion}}
                </div>
                <div class="mb-3">
                    <label for="{{form.valor_t.id_for_label}}" class="form-label">Valor total de la propuesta (sin comas ni puntos)*:</label>
                    {{form.valor_t}}
                </div>
                <div class="mb-3 row">
                    <label for="{{form.tiempo_entrega_min.id_for_label}}" class="form-label">Tiempo de entrega (Días) Ingrese el tiempo mínimo. El tiempo máximo es opcional. Deje en blanco si no aplica:</label>
                    <div class="col-5">
                        {{form.tiempo_entrega_min}}
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center">
                        <p class="m-0">A</p>
                    </div>

                    <div class="col-5">
                        {{form.tiempo_entrega_max}}
                    </div>
                </div>
                <div class="mb-3">
                    <label for="{{form.moneda.id_for_label}}" class="form-label">Modena de negociación*:</label>
                    {{form.moneda}}
                </div>
                <div class="mb-3">
                    <label for="{{form.garantia.id_for_label}}" class="form-label">Garantía*:</label>
                    {{form.garantia}}
                </div>
                <div class="mb-3">
                    <label for="{{form.t_pago.id_for_label}}" class="form-label">Términos de pago*:</label>
                    {{form.t_pago}}
                </div>
                <div class="mb-3">
                    <label for="{{form.validez.id_for_label}}" class="form-label">Validez de la propuesta (Dias):</label>
                    {{form.validez}}
                </div>
                <div class="mb-3">    
                    <label for="{{form.file.id_for_label}}" class="form-label">Adjuntar archivo*:</label>
                    {{form.file}}
                    <div class="form-text">Solo se permiten archivos en formato PDF.</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success">Enviar</button>
            </div>
        <form>
    </div>
</div>

<div id="myModal" class=" modal fade " tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm ">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h5 class="modal-title text-white" id="modal-title ">Modal Title</h5>
            </div>
            <div class="modal-body text-white" id="modal-msg">
                <p>...</p>
            </div>
        </div>
    </div>
</div>


{% endblock modal %}


{% block script %}
<script>
    $(document).ready(function(){
        $('input[type="file"]').on('change', function(){
            var ext = $( this ).val().split('.').pop();
            if ($( this ).val() != '') {
            if(ext == "pdf"){
                if($(this)[0].files[0].size > 1048576){
                    console.log("El documento excede el tamaño máximo");
                    $('#modal-title').text('¡Precaución!');
                    $('#modal-msg').html("Se solicita un archivo no mayor a 1MB. Por favor verifica.");
                    $("#myModal").modal('show');         
                $(this).val('');
                }else{

                }
            }else{
                $('#modal-title').text('¡Precaución!');
                $('#modal-msg').html("Solo se aceptan pdf .");
                $("#myModal").modal('show');   
    
                $(this).val('');
            }
            }
        });
    });

</script>
{% endblock script %}       